.StudentListBox 
{
    max-height: 50px;
}

.list-group-con
{

    position: absolute;
    max-height: 1px;
}.list-group-con:hover
{
    cursor: pointer;
}

.Detailed-Lesson
{
    background-color: red;
    margin: 50px;
}