.Background-Lesson-Add
{
    height: 700px;
    width: 1000px;
    background-color: rgb(0, 76, 255);
    border: 3px solid;
    border-color: rgb(255, 0, 179);
    border-radius: 2%;
}:hover{
    border-color: rgb(255, 0, 221);
}

.lesson-add-header
{
    text-align: center;
}

.lesson-add-code
{
    position: relative;
    margin: 20px;
    height: 40px;
    font-size: 25px;
    width: 300px;
}

.lesson-add-Name
{
    position: relative;
    right: 21.3rem;
    top: 5rem;
    margin: 20px;
    height: 40px;
    font-size: 25px;
    width: 300px;
}

.lesson-add-teacher
{
    position: relative;
    top: 5rem;
    margin: 20px;
    height: 40px;
    font-size: 25px;
    width: 300px;
}

.lesson-add-Credit
{
    position: relative;
    top: 10rem;
    right:  21.4rem;
    margin: 20px;
    height: 40px;
    font-size: 20px;
    width: 300px;
}

.lesson-add-save
{
    border-radius: 10px;
    position: relative;
    left: 10rem;
    top: 20rem;
    text-align: center;
    width: 100px;
    font-size: 20px;
    background-color: rgb(179, 255, 179);
}

.lesson-add-cancel
{
    border-radius: 10px;
    position: relative;
    right: 6rem;
    top: 20rem;
    text-align: center;
    width: 100px;
    font-size: 20px;
    background-color: rgb(255, 192, 192);
}