.StudentListBox 
{
    max-height: 50px;
}

.list-group-con
{

    position: absolute;
    max-height: 1px;
}.list-group-con:hover
{
    cursor: pointer;
}

.Detailed-inform
{
    position: relative;
    left: 10rem;
    bottom: 20rem;
    font-size: 100px;
}