.StudentListBox 
{
    max-height: 50px;
}

.list-group-lesson
{

    position: absolute;
    max-height: 1px;
}.list-group-lesson:hover
{
    cursor: pointer;
}

.Detailed-Lesson
{
    position: relative;
    left: 20rem;
    bottom: 4rem;
    width: 350px;
}
.Alt-info
{
    margin-top: 3rem;

}
.list-group{
    position: relative;
    bottom: 3rem;
}

