.StudentListBox 
{
    max-height: 50px;
}

.list-group-con
{
    
    position: absolute;
    max-height: 1px;
}.list-group-con:hover
{
    cursor: pointer;
}

.info-click
{
    position: relative;
    left: 21rem;
    top: 10rem;
}

.Detailed-Student
{
    position: relative;
    left: 20rem;
    bottom: 4rem;
    width: 380px;
}

.pp{
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 25%;
}

.edit-student
{
    position: relative;
    left: 58.5rem;
    bottom: 3.7rem;
    background-color: rgb(243, 161, 224);
    border: 3px solid;
    border-color: rgb(97, 60, 94);
    border-radius: 100%;
}

#edit-student
{
    font-size: 30px;
    margin-top : 5px;
}
