
.backgorund-add-student
{
    
    height: 700px;
    width: 1000px;
    background-color: rgb(72, 0, 241);
    border: 3px solid;
    border-color: rgb(255, 0, 179);
    border-radius: 2%;
}:hover{
    border-color: rgb(255, 0, 221);
}
.student-add-header
{
    text-align: center;
}
.student-add-no
{
    position: relative;
    margin: 20px;
    height: 40px;
    font-size: 25px;
    width: 300px;
}

.student-add-Name
{
    position: relative;
    right: 21.3rem;
    top: 5rem;
    margin: 20px;
    height: 40px;
    font-size: 25px;
    width: 300px;
}

.student-add-Sur
{
    position: relative;
    top: 5rem;
    margin: 20px;
    height: 40px;
    font-size: 25px;
    width: 300px;
}

.student-add-BD
{
    position: relative;
    top: 10rem;
    right:  21.4rem;
    margin: 20px;
    height: 40px;
    font-size: 25px;
    width: 300px;
}

.student-add-photo
{
    position: relative;
    top: 10rem;
    margin: 20px;
    height: 40px;
    font-size: 15px;
    width: 300px;
}

.student-add-save
{
    border-radius: 10px;
    position: relative;
    left: 30rem;
    top: 15rem;
    text-align: center;
    width: 100px;
    font-size: 20px;
    background-color: rgb(179, 255, 179);
}

.student-add-cancel
{
    border-radius: 10px;
    position: relative;
    left: 40rem;
    bottom: 1.6rem;
    text-align: center;
    width: 100px;
    font-size: 20px;
    background-color: rgb(255, 192, 192);
}

.student-add-preview
{
    position: relative;
    bottom: 10rem;
    left: 33rem;
}

.student-add-prep
{
    height: 200px;
    width: 150px;
}