.StudentListBox 
{
    max-height: 50px;
}

.list-group-con
{

    position: absolute;
    max-height: 1px;
}.list-group-con:hover
{
    cursor: pointer;
}

.Detailed-Student
{
    position: relative;
    left: 20rem;
    bottom: 4rem;
}

.pp{
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 25%;
}