@import url('https://fonts.googleapis.com/css2?family=Orbitron&:wght@500&display=swap');

.HomeBody {
    height: 100vh;
	background-image: linear-gradient(315deg, #030c2f 0%, #071758 74%);
}

.Header
{
    width: 100hv;
    height: 5rem;
    background-image: linear-gradient(140deg, #030c2f 0%, #071758 74%);
}


.System
{
    font-family: 'Orbitron', sans-serif;
    position: relative;
    top: 1.25rem;
    font-size: 30px;
    color: rgb(38, 0, 255);
    
}

.LogoutButton
{
    position: fixed;
    right: 2rem;
    top: 1.2rem;
    font-size: 22px;
    background-color: rgb(253, 110, 110);
    border-radius: 10px;
}

.LogoutButton:hover
{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    
}


.Raise
{
    position: fixed;
    top : 10rem;
    left: 25rem
}

.RaiseLessons
{
    position: fixed;
    top : 10rem;
    left: 50rem
}

.RaiseRollCall
{
    position: fixed;
    top : 10rem;
    left: 75rem
}

