
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.Raise:hover,
.Raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: rgba(255, 0, 212,0.2);
}

.Raise {
  color:#6e014a;
  --color: #6e014a;
  --hover: #ff00c8;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin : 0.1rem;
  padding: 1rem 2rem;
  font-size: 30px;

}

.Raise:hover, .Raise:focus {
  border-color: var(--hover);
  color: #fff;
  cursor: pointer;
  background-color: rgba(255, 0, 212,0.2);
}

.RaiseLessons:hover,
.RaiseLessons:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: rgba(255, 0, 212,0.2);
}

.RaiseLessons {
  color:#6e014a;
  --color: #6e014a;
  --hover: #ff00c8;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin : 0.1rem;
  padding: 1rem 2rem;
  font-size: 30px;

}

.RaiseLessons:hover, .RaiseLessons:focus {
  border-color: var(--hover);
  color: #fff;
  cursor: pointer;
}

.RaiseRollCall:hover,
.RaiseRollCall:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.RaiseRollCall {
  color:#6e014a;
  --color: #6e014a;
  --hover: #ff00c8;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin : 0.1rem;
  padding: 1rem 2rem;
  font-size: 30px;

}

.RaiseRollCall:hover, .RaiseRollCall:focus {
  border-color: var(--hover);
  color: #fff;
  cursor: pointer;
  background-color: rgba(255, 0, 212,0.2);
}





