.MainLesson
{
    position: fixed;
    left:27rem;
    top: 20rem;
    
}

.BackgroundLesson
{
    height: 600px;
    width: 1000px;
    background-color: rgb(0, 76, 255);
    border: 3px solid;
    border-color: rgb(255, 0, 179);
    border-radius: 2%;
}:hover{
    border-color: rgb(255, 0, 221);
}
.Search-Box-Lesson
{
    margin : 5px;
    border-radius: 10px;
}
.Active-Lessons
{
    margin : 3px;

}

.Lessons-List
{
    margin: 3px;
}

.lesson-add
{
    position: absolute;
    right: 4rem;
    margin: 5px;
    background-color: rgb(243, 161, 224);
    border: 3px solid;
    
    border-color: rgb(97, 60, 94);
    border-radius: 100%;
}

#add-circle
{
    font-size: 30px;
    margin-top : 5px;
}


