.MainLesson
{
    position: fixed;
    left:27rem;
    top: 20rem;
    
}

.BackgroundLesson
{
    height: 600px;
    width: 1000px;
    background-color: rgb(183, 202, 247);
    border: 5px solid;
    border-color: rgb(255, 0, 179);
    border-radius: 2%;
}:hover{
    border-color: rgb(255, 0, 221);
}

.Lessons-Column
{
    column-gap: 20px;
    column-width: 500px;
    column-rule: 9px double #ff00ff;

}

