

.MainRollcall
{
    position: fixed;
    left:27rem;
    top: 20rem;
    
}


.BackgroundRollcall
{
    height: 600px;
    width: 1000px;
    background-color: rgb(0, 110, 255);
    border: 3px solid;
    border-color: rgb(255, 0, 179);
    border-radius: 2%;
    
}:hover{
    border-color: rgb(255, 0, 221);
}

.roll-call-lesson-select
{
    position: relative;
    margin: 5px;
    height: 35px;
    border-radius: 10px;
    bottom: 2.5rem;
    background-color: rgb(193, 203, 248);
}

.roll-call-time
{
    position: relative;
    text-align: right;
    bottom : 2.5rem;
    margin: 5px;
}
.roll-call-here
{
    position: relative;
    text-align: right;
    bottom : 4rem;
    margin: 5px;
}

.roll-calal-students
{
    position: relative;
    bottom : 4rem;
    margin: 5px;
}